// 🔴font-family
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arial:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Helvetica:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Georgia:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Times+New+Roman:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Garamond:wght@600;700&display=swap");
$fonts: (
  Arial,
  Helvetica,
  "Open Sans",
  Lato,
  Montserrat,
  Georgia,
  "Times New Roman",
  Garamond
);
// Récupère tout les font du tableau
@each $font in $fonts {
  // Supprime les espace
  $font_name: unquote($font);
  .font_#{$font_name} {
    font-family: $font_name, sans-serif;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

// 🔴Colors
$primary: #dedede;
$secondary: #aaa;
$tel: #01ff70;
$mail: #2d95f9;
$error: #ff4136;
$info: #ffdc00;
$w: #fff;
$wa: #ffffff5f;
$b: #000;

// 🔴Other-Colors
$red: #ff4136;
$orange: #ff851b;
$yellow: #ffdc00;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff70;
$aqua: #7fdbff;
$tela: #39cccc;
$blue: #0074d9;
$navy: #001f3f;
$purple: #b10dc9;
$fuchsia: #f012be;
$maroon: #85144b;

// 🔴Texts sizes
body {
  font-size: 1rem;
  font-weight: 600;
}
h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
h2 {
  font-size: 1rem;
  font-weight: 700;
}
h3 {
  font-size: 1.1rem;
  font-weight: 700;
}

// 🔴Formats texts
// .bold {
//   font-weight: bold;
// }
// .italics {
//   font-style: italic;
// }
// .underline {
//   text-decoration: underline;
// }
// .through {
//   text-decoration: line-through;
// }
// .text_start {
//   text-align: start;
// }
// .text_center {
//   text-align: center;
// }
// .text_end {
//   text-align: end;
// }
// .text_justify {
//   text-align: justify;
// }
// .list_inside {
//   list-style: inside;
// }
// .list_disc {
//   list-style: disc;
// }
// .list_square {
//   list-style: square;
// }
// .list_decimal {
//   list-style: decimal;
// }
// .list_roman {
//   list-style: upper-roman;
// }
// .list_alpha {
//   list-style: lower-alpha;
// }

// 🔴Buttons
%button {
  padding: 0.8rem 1.8rem;
  border-radius: 3rem;
}
i {
  font-size: 1rem;
  filter: brightness(0) saturate(100%) invert(0%) sepia(81%) saturate(7481%)
    hue-rotate(164deg) brightness(110%) contrast(101%);
}
.b_create {
  @extend %button;
  font-size: 1rem;
  font-weight: bold;
  background-color: $wa;
}
