@import "base";
@import "styles";
@import "design-tokens";

body {
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
}

main {
  padding: 1rem 0 0 2rem;
}

.aside {
  color: $w;
  width: 40%;
  background-color: $blue;
  padding: 0.7rem 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &__search {
    color: $b;
    border-radius: 1rem;
    padding: 0.2rem 1rem;
    border: none;
  }
  &__notepad_list {
    height: 80%;
    padding: 0.5rem 0;
    overflow: auto;
    li {
      height: max-content;
      border-bottom: solid 2px;
      padding: 0.3rem 0;
      display: flex;
      justify-content: center;
      button {
        width: 95%;
        padding: 0.5rem;
        border-radius: 1rem;
        &:hover {
          background-color: $wa;
        }
      }
      &:last-child {
        border: none;
      }
    }
  }
  &__new_note {
    flex: 1;
  }
}
