@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arial");
@import url("https://fonts.googleapis.com/css2?family=Helvetica");
@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Lato");
* {
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

body {
  overflow: hidden auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  user-drag: none;
  -webkit-user-drag: none;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  border: none;
  background-color: inherit;
}

table,
thead,
tr,
th,
td {
  border: solid;
  border-collapse: collapse;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

a,
button {
  cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.main__notepad__formats_list__button_add_title h2, .aside__content__notepad_list li button span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font_Arial {
  font-family: Arial, sans-serif;
}

.font_Helvetica {
  font-family: Helvetica, sans-serif;
}

.font_Roboto {
  font-family: Roboto, sans-serif;
}

.font_Open Sans {
  font-family: Open Sans, sans-serif;
}

.font_Lato {
  font-family: Lato, sans-serif;
}

body {
  color: #f2f2f2;
}

input,
textarea,
select {
  color: #000;
  background-color: #f2f2f2;
}

body {
  font-size: 1rem;
  font-weight: 500;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.4rem;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

h2,
h3,
label {
  font-weight: 600;
}

i {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(452%) hue-rotate(235deg) brightness(113%) contrast(90%);
}

.b_create {
  color: #000;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 95%;
  background-color: lightgray;
  padding: 0.8rem 1.8rem;
  border-radius: 0.5rem;
}
.b_create:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}

body {
  background-color: #f2f2f2;
}

.content_extension {
  width: 35rem;
  height: 20rem;
  display: flex;
}

.aside {
  width: 40%;
  height: 100%;
  background-color: #12495e;
  padding: 0.9rem 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.aside__search {
  display: flex;
  align-items: center;
}
.aside__search input {
  color: #000;
  width: 90%;
  height: 2rem;
  padding: 0.3rem 1rem;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.aside__search label {
  width: 10%;
  height: 2rem;
  background-color: #f2f2f2;
  padding: 0 0.7em 0 0.3rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}
.aside__search label i {
  font-size: 1.2rem;
  filter: brightness(0) saturate(100%) invert(0%) sepia(56%) saturate(1847%) hue-rotate(53deg) brightness(95%) contrast(106%);
}
.aside__content {
  margin: 0.9rem 0;
  height: 11.3rem;
  padding: 0.5rem 0.3rem 0.5rem;
  overflow: auto;
}
.aside__content::-webkit-scrollbar-thumb {
  background-color: #123443;
}
.aside__content__notepad_list {
  display: flex;
  flex-direction: column-reverse;
}
.aside__content__notepad_list li {
  border-bottom: solid 2px;
  padding: 0.3rem 0;
  display: flex;
  justify-content: center;
}
.aside__content__notepad_list li:first-child {
  border: none;
}
.aside__content__notepad_list li button {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  max-width: 10.4rem;
  padding: 0.5rem;
  word-wrap: break-word;
  border-radius: 0.3rem;
}
.aside__content__notepad_list li button span {
  white-space: wrap;
}

.main {
  width: 60%;
  height: 100%;
}
.main__nav {
  background-color: #123443;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__nav__close_aside {
  transition: ease-out 0.1s;
}
.main__notepad__formats_list {
  padding: 0.22rem 0.5rem;
  background-color: #104255;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__notepad__formats_list__input_add_title {
  display: none;
  font-size: 1rem;
  font-weight: bold;
  width: 16rem;
  height: 1.4rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
  border: 0;
}
.main__notepad__formats_list__button_add_title {
  max-width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.main__notepad__formats_list__options {
  display: flex;
  gap: 0.4rem;
}
.main__notepad__input_notes {
  width: 100%;
  height: 14.3rem;
  padding: 0.7rem;
  border: none;
  background-color: #f2f2f2;
}
.main__notepad__input_notes::-webkit-scrollbar-thumb {
  background-color: #999999;
}/*# sourceMappingURL=style.css.map */