@import "base";
@import "styles";
@import "design-tokens";

.content_extension {
  width: 35rem;
  height: 19.5rem;
  display: flex;
}

.aside {
  width: 40%;
  background-color: $primary;
  padding: 0.9rem 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__search {
    display: flex;
    align-items: center;
    input {
      color: $b;
      width: 90%;
      height: 2rem;
      padding: 0.3rem 1rem;
      border: none;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
    label {
      width: 10%;
      height: 2rem;
      background-color: $w;
      padding: 0 0.7em 0 0.3rem;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      display: flex;
      justify-content: end;
      align-items: center;
      cursor: pointer;
      i {
        filter: brightness(0) saturate(100%) invert(0%) sepia(56%)
          saturate(1847%) hue-rotate(53deg) brightness(95%) contrast(106%);
      }
    }
  }
  &__content {
    margin: 0.9rem 0;
    height: 11.3rem;
    padding: 0.5rem 0.3rem 0.5rem;
    overflow: auto;
    &::-webkit-scrollbar-thumb {
      background-color: $secondary;
    }
    &__notepad_list {
      display: flex;
      flex-direction: column-reverse;
      li {
        border-bottom: solid 2px;
        padding: 0.3rem 0;
        display: flex;
        justify-content: center;
        &:first-child {
          border: none;
        }
        button {
          height: fit-content;
          width: 98%;
          padding: 0.5rem;
          border-radius: 0.3rem;
          &:hover {
            background-color: darken($w, 35%);
          }
          span {
            @extend %ellipsis;
            max-width: 2rem;
          }
        }
      }
    }
  }
}

.main {
  width: 60%;
  &__nav {
    background-color: $secondary;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__close_aside {
      transition: ease-out 0.1s;
    }
  }
  &__notepad {
    &__formats_list {
      padding: 0.22rem 0.5rem;
      background-color: darken-color($primary, 2%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__input_add_title {
        display: none;
        font-size: 1rem;
        font-weight: bold;
        width: 6.4rem;
        height: 1.4rem;
        padding: 0.4rem;
        border-radius: 0.2rem;
        border: 0;
      }
      &__button_add_title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        @extend %ellipsis;
      }
      &__options {
        display: flex;
        gap: 0.4rem;
      }
    }
    &__input_notes {
      width: 100%;
      height: 14.9rem;
      padding: 0.7rem;
      border: none;
      &::-webkit-scrollbar-thumb {
        background-color: darken($w, 35%);
      }
    }
  }
}
