@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Arial");
@import url("https://fonts.googleapis.com/css2?family=Helvetica");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Lato");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Georgia");
@import url("https://fonts.googleapis.com/css2?family=Times+New+Roman");
@import url("https://fonts.googleapis.com/css2?family=Garamond");
* {
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

body {
  overflow: hidden auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  user-drag: none;
  -webkit-user-drag: none;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  border: none;
  background-color: inherit;
}

table,
thead,
tr,
th,
td {
  border: solid;
  border-collapse: collapse;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

a,
button {
  cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.font_Arial {
  font-family: Arial, sans-serif;
}

.font_Helvetica {
  font-family: Helvetica, sans-serif;
}

.font_Open Sans {
  font-family: Open Sans, sans-serif;
}

.font_Lato {
  font-family: Lato, sans-serif;
}

.font_Montserrat {
  font-family: Montserrat, sans-serif;
}

.font_Georgia {
  font-family: Georgia, sans-serif;
}

.font_Times New Roman {
  font-family: Times New Roman, sans-serif;
}

.font_Garamond {
  font-family: Garamond, sans-serif;
}

body {
  font-size: 1rem;
  font-weight: 500;
}

h1 {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

h2,
h3,
label {
  font-weight: 600;
}

.b_create {
  padding: 0.8rem 1.8rem;
  border-radius: 3rem;
}

i {
  font-size: 1rem;
  filter: brightness(0) saturate(100%) invert(0%) sepia(81%) saturate(7481%) hue-rotate(164deg) brightness(110%) contrast(101%);
}

.b_create {
  font-size: 1rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3725490196);
}

body {
  width: 35rem;
  min-height: 12rem;
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
}

.main {
  width: 60%;
}
.main__nav {
  background-color: #aaa;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__nav__close_aside {
  transition: ease-out 0.1s;
}
.main__notepad__formats_list {
  padding: 0.15rem 0.5rem;
  background-color: #dedede;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.main__notepad__formats_list__input_add_title {
  display: none;
  width: 5rem;
  padding: 0.15rem 0.6rem;
  border-radius: 0.3rem;
  border: 0;
}
.main__notepad__formats_list__button_add_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.main__notepad__formats_list__format {
  width: 1rem;
  height: 1rem;
  padding: 0.7rem;
  background-color: #aaa;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__notepad__formats_list__isolator {
  margin: 0 0.1rem;
}
.main__notepad__input_notes {
  width: 100%;
  height: 15rem;
  padding: 0.7rem;
  border: none;
}

.aside {
  width: 40%;
  background-color: #dedede;
  padding: 0.7rem 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.aside__search {
  display: flex;
  align-items: center;
}
.aside__search input {
  color: #000;
  width: 90%;
  height: 2rem;
  padding: 0.3rem 1rem;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.aside__search label {
  width: 10%;
  height: 2rem;
  background-color: #fff;
  padding: 0 0.7em 0 0.3rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}
.aside__search label i {
  width: 1rem;
}
.aside__notepad_list {
  margin: 0.8rem 0;
  max-height: 10rem;
  padding: 0.5rem 0;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
.aside__notepad_list li {
  border-bottom: solid 2px;
  padding: 0.3rem 0;
  display: flex;
  justify-content: center;
}
.aside__notepad_list li:first-child {
  border: none;
}
.aside__notepad_list li button {
  height: -moz-fit-content;
  height: fit-content;
  width: 95%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.aside__notepad_list li button:hover {
  background-color: rgba(255, 255, 255, 0.3725490196);
}/*# sourceMappingURL=style.css.map */